body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
}

h3 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.navbar {
  position: fixed !important;
  background-color: transparent !important;
}

.waves-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.custom-card {
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
}

.col-document {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.custom-document {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px #c7c7c7;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.custom-document p {
  margin: 0 !important;
}

.custom-document img {
  height: 40px;
  margin-bottom: 10px;
}

.custom-document:hover {
  background-color: #c7c7c7;
}

.custom-heading {
  background-color: #fff;
  box-shadow: 0 5px 4px -4px #c7c7c7;
  padding: 15px;
}

.languages {
  position: absolute;
  width: 100px;
  top: 20px;
  right: 20px;
}

.language-item {
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px !important;
  cursor: pointer;
}

.language-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.language-item img {
  width: 100%;
}

.partners {
  margin-bottom: 45px;
}

.partner-logo {
  width: 200px;
  height: 100px;
  padding: 15px;
  display: inline-block;
  background-color: #07566f;
  border-radius: 5px;
}

.partner-logo-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.partner-logo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.landing-page-container {
  height: 550px;
  width: 100%;
  background: url('../images/background-min.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  position: relative;
  margin-bottom: 75px;
}

.rv-logo-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
}
.rv-logo-container svg {
  margin: 0 auto;
}

@keyframes growStraw {
  from {
    transform: scale3d(0.5, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes growGrain {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.rv-logo .group {
  fill: #07566f;
}
.rv-logo .large-letters {
  fill: #07566f;
}
.rv-logo .wheat {
  fill: yellow;
}
.rv-logo .wheat .straw {
  will-change: transform;
  transform-origin: 180px 420px;
  transform: scale3d(0, 0, 0);
  animation: growStraw 0.8571428571s forwards ease-in;
}
.rv-logo .wheat .root {
  transform-origin: 88px 183px;
  transform: scale(0);
  animation: growGrain 0.8571428571s forwards linear;
  animation-delay: 0.8s;
}
.rv-logo .element {
  transform: scale(0);
  animation: growGrain 0.8571428571s forwards ease-out;
}
.rv-logo .fourth-layer .first-element {
  transform-origin: 125px 100px;
  animation-delay: 1.8s;
}
.rv-logo .fourth-layer .second-element {
  transform-origin: 140px 110px;
  animation-delay: 1.6s;
}
.rv-logo .fourth-layer .third-element {
  transform-origin: 140px 120px;
  animation-delay: 1.8s;
}
.rv-logo .third-layer .first-element {
  transform-origin: 155px 80px;
  animation-delay: 2.7s;
}
.rv-logo .third-layer .second-element {
  transform-origin: 170px 90px;
  animation-delay: 2.4s;
}
.rv-logo .third-layer .third-element {
  transform-origin: 170px 100px;
  animation-delay: 2.7s;
}
.rv-logo .second-layer .first-element {
  transform-origin: 185px 60px;
  animation-delay: 3.6s;
}
.rv-logo .second-layer .second-element {
  transform-origin: 200px 70px;
  animation-delay: 3.2s;
}
.rv-logo .second-layer .third-element {
  transform-origin: 200px 80px;
  animation-delay: 3.6s;
}
.rv-logo .first-layer .first-element {
  transform-origin: 215px 40px;
  animation-delay: 4.5s;
}
.rv-logo .first-layer .second-element {
  transform-origin: 230px 50px;
  animation-delay: 4s;
}
.rv-logo .first-layer .third-element {
  transform-origin: 230px 60px;
  animation-delay: 4.5s;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.footer-bottom {
  min-height: 75px;
  background-color: #29cbff;
  margin-top: -1px;
  color: #fff;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #3fd2f9;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  height: 100px;
  margin-right: 15px;
  background-color: #29cbff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px #c7c7c7;
  cursor: pointer;
}
