body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
}

.navbar {
  position: fixed !important;
  background-color: transparent !important;
}

.waves-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.custom-card {
  border-radius: 5px;
  background-color: #e0d8d2;
  box-shadow: 0 0 5px #e0d8d2;
  padding: 15px;
}

.languages {
  position: absolute;
  width: 100px;
  top: 20px;
  right: 20px;
}

.language-item {
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px !important;
  cursor: pointer;
}

.language-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.language-item img {
  width: 100%;
}

.partner-logo {
  height: 100px;
  padding: 15px;
}

.partner-logo-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.partner-logo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.landing-page-container {
  height: 550px;
  width: 100%;
  background: url("../images/background-min.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  position: relative;
  margin-bottom: 75px;
}

.rv-logo-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
}
.rv-logo-container svg {
  margin: 0 auto;
}

@keyframes growStraw {
  from {
    transform: scale3d(0.5, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes growGrain {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.rv-logo .group {
  fill: #07566f;
}
.rv-logo .large-letters {
  fill: #07566f;
}
.rv-logo .wheat {
  fill: yellow;
}
.rv-logo .wheat .straw {
  will-change: transform;
  transform-origin: 180px 420px;
  transform: scale3d(0, 0, 0);
  animation: growStraw 0.8571428571s forwards ease-in;
}
.rv-logo .wheat .root {
  transform-origin: 88px 183px;
  transform: scale(0);
  animation: growGrain 0.8571428571s forwards linear;
  animation-delay: 0.8s;
}
.rv-logo .element {
  transform: scale(0);
  animation: growGrain 0.8571428571s forwards ease-out;
}
.rv-logo .fourth-layer .first-element {
  transform-origin: 125px 100px;
  animation-delay: 1.8s;
}
.rv-logo .fourth-layer .second-element {
  transform-origin: 140px 110px;
  animation-delay: 1.6s;
}
.rv-logo .fourth-layer .third-element {
  transform-origin: 140px 120px;
  animation-delay: 1.8s;
}
.rv-logo .third-layer .first-element {
  transform-origin: 155px 80px;
  animation-delay: 2.7s;
}
.rv-logo .third-layer .second-element {
  transform-origin: 170px 90px;
  animation-delay: 2.4s;
}
.rv-logo .third-layer .third-element {
  transform-origin: 170px 100px;
  animation-delay: 2.7s;
}
.rv-logo .second-layer .first-element {
  transform-origin: 185px 60px;
  animation-delay: 3.6s;
}
.rv-logo .second-layer .second-element {
  transform-origin: 200px 70px;
  animation-delay: 3.2s;
}
.rv-logo .second-layer .third-element {
  transform-origin: 200px 80px;
  animation-delay: 3.6s;
}
.rv-logo .first-layer .first-element {
  transform-origin: 215px 40px;
  animation-delay: 4.5s;
}
.rv-logo .first-layer .second-element {
  transform-origin: 230px 50px;
  animation-delay: 4s;
}
.rv-logo .first-layer .third-element {
  transform-origin: 230px 60px;
  animation-delay: 4.5s;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.footer-bottom {
  min-height: 75px;
  background-color: #07566f;
  margin-top: -1px;
  color: #fff;
}
